@model IEnumerable<RapsCore2.Models.AdminViewModel.EncashmentViewModel>
@{
    ViewData["Title"] = "Encashment";
    Layout = "~/Views/Shared/_AdminDashboard.cshtml";
}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@ViewData["Title"]</h2>
        <ol class="breadcrumb">
            <li>
                <a asp-area="" asp-controller="Admin" asp-action="Dashboard">Dashboard</a>
            </li>
            <li class="active">
                <strong>Request</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTables-example">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Date Requested</th>
                                    <th>Date Approved</th>
                                    <th>Gross</th>
                                    <th>Tax</th>
                                    <th>Net</th>
                                    @*<th></th>*@
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr class="gradeU">
                                        <td>@item.member_id</td>
                                        <td>@item.member_name</td>
                                        <td>@item.request_date</td>
                                        <td>@item.approved_date</td>
                                        <td>@item.gross</td>
                                        <td>@item.tax</td>
                                        <td>@item.net</td>
                                        @*<td id="details">
                                            <a asp-action="MemberDetails" asp-controller="Admin" asp-route-id="@item.member_id" class="btn btn-info btn-rounded"><span class="fa fa-paste"> Details</span></a>
                                        </td>*@
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/plugins/dataTables/datatables.min.js"></script>
    <!-- Page-Level Scripts -->
    <script>
        $(document).ready(function () {
            $('.dataTables-example').DataTable({
                pageLength: 10,
                responsive: true,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'RequestEncashment' },
                    { extend: 'pdf', title: 'RequestEncashment' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]

            });
            $('#side-menu li').each(function () {
                $(this).removeClass('active');
            });
            $('#').addClass('active');
        });

    </script>

}



