@model IEnumerable<RapsCore2.Models.MemberViewModel.EncashmentRequestViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-success pull-right">All</span>
                    <h5>Total Downlines</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">@ViewBag.Downlines</h1>
                    <div class="stat-percent font-bold text-success"><i class="fa fa-bolt"></i></div>
                    <small>1st to 15th Level</small>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-info pull-right">All</span>
                    <h5>New Downlines</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">@ViewBag.Level1</h1>
                    <div class="stat-percent font-bold text-info"><i class="fa fa-level-up"></i></div>
                    <small>First Level</small>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">Monthly</span>
                    <h5>Commission</h5>
                </div>
                <div class="ibox-content">

                    <div class="row">
                        <div class="col-md-6">
                            <h1 class="no-margins">@ViewBag.Pending_Comm</h1>
                            <div class="font-bold text-navy">Pending <i class="fa fa-level-up"></i> </div>
                        </div>
                        <div class="col-md-6">
                            <h1 class="no-margins">@ViewBag.Last_Comm </h1>
                            <div class="font-bold text-navy">Previous <i class="fa fa-level-up"></i> </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>
    @*Chart*@
    @*<div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Monthly income</h5>
                        <div class="ibox-tools">
                            <span class="label label-primary">Updated 12.2015</span>
                        </div>
                    </div>
                    <div class="ibox-content no-padding">
                        <div class="flot-chart m-t-lg" style="height: 55px;">
                            <div class="flot-chart-content" id="flot-chart1"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>*@

    <div class="ibox-title">
        <h5>List of Commission</h5>
    </div>
    <div class="ibox-content">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Payment </th>
                        <th>Gross </th>
                        <th>Tax </th>
                        <th>Net</th>
                        <th>Remarks</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
            {
                        <tr>
                            <td>@item.date_requested.ToString("MMMM dd, yyyy")</td>
                            <td>@item.type</td>
                            <td>@item.gross</td>
                            <td>@item.tax</td>
                            <td>@item.net</td>
                            <td>@item.remarks</td>
                            <td><button class="btn btn-primary btn-circle" type="button"><i class="fa fa-list"></i></button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>

    <br />
    <div class="ibox-content">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <button id="copylink" class="btn-rounded btn-warning pull-right"><i class="fa fa-copy"></i> Copy</button>
                        Sponsor Link
                    </div>
                    <div class="panel-body">
                        <h3 id="sponsorlink">http://rapsnutripharma.com/home/index/@ViewBag.Member_Id</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#copylink").click(function () {
                copyToClipboard("#sponsorlink");
            });
        });
        function copyToClipboard(element) {
            var $temp = $("<input>");
            $("body").append($temp);
            $temp.val($(element).text()).select();
            document.execCommand("copy");
            $temp.remove();
        }
        //$(document).ready(function () {
        //    var d1 = [[1262304000000, 6], [1264982400000, 3057], [1267401600000, 20434], [1270080000000, 31982], [1272672000000, 26602], [1275350400000, 27826], [1277942400000, 24302], [1280620800000, 24237], [1283299200000, 21004], [1285891200000, 12144], [1288569600000, 10577], [1291161600000, 10295]];
        //    var d2 = [[1262304000000, 5], [1264982400000, 200], [1267401600000, 1605], [1270080000000, 6129], [1272672000000, 11643], [1275350400000, 19055], [1277942400000, 30062], [1280620800000, 39197], [1283299200000, 37000], [1285891200000, 27000], [1288569600000, 21000], [1291161600000, 17000]];

        //    var data1 = [
        //        { label: "Data 1", data: d1, color: '#17a084' },
        //        { label: "Data 2", data: d2, color: '#127e68' }
        //    ];
        //    $.plot($("#flot-chart1"), data1, {
        //        xaxis: {
        //            tickDecimals: 0
        //        },
        //        series: {
        //            lines: {
        //                show: true,
        //                fill: true,
        //                fillColor: {
        //                    colors: [{
        //                        opacity: 1
        //                    }, {
        //                        opacity: 1
        //                    }]
        //                },
        //            },
        //            points: {
        //                width: 0.1,
        //                show: false
        //            },
        //        },
        //        grid: {
        //            show: false,
        //            borderWidth: 0
        //        },
        //        legend: {
        //            show: false,
        //        }
        //    });


        //});
        $(document).ready(function () {
            $('#side-menu li').each(function () {
                $(this).removeClass('active');
            });
            $('#dashboard').addClass('active');
        });
    </script>
}
